.home {
  background-image: url(../Assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100%; */
  height: 100vh;
}
.Availablity{
  margin-left: 460px;
}

@media only screen and (max-width: 480px) {
  .Availablity{
    margin-left: 100px;
  }
}
